Repository voxpupuli/puppet-splunk, pull requests merged in 2018-08, with the labels that each got.

#189 modulesync 1.9.6
  .msync.yml
  .travis.yml
  Gemfile
  spec/spec_helper_acceptance.rb
Labels: modulesync

#191 This commit fixes the error in startup 7.1.x
  manifests/platform/posix.pp
Labels: bug, needs-feedback

#192 release 7.2.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#193 Allow puppetlabs/stdlib 5.x and puppetlabs/concat 5.x
  metadata.json
Labels: enhancement
