Repository voxpupuli/puppet-splunk, pull requests merged in 2020-11, with the labels that each got.

#298 Fix rspec 3.10 failures
  spec/defines/addon_spec.rb
Labels: skip-changelog

#297 Fix systemd service file locations to documented locations
  manifests/params.pp
Labels: bug

#296 Workaround a change in behavior of ensure_packages with stdlib
  manifests/enterprise/install/nix.pp
  manifests/forwarder/install.pp
Labels: bug

#282 Add support for FreeBSD
  manifests/forwarder.pp
  manifests/params.pp
  metadata.json
  spec/classes/forwarder_spec.rb
Labels: enhancement

#299 Correct web_httpport field name
  manifests/enterprise.pp
Labels: docs

#279 Add ability to override default-host configuration
  manifests/params.pp
Labels: enhancement
