Repository voxpupuli/puppet-splunk, pull requests merged in 2020-12, with the labels that each got.

#304 modulesync 4.0.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .sync.yml
  .travis.yml
  Gemfile
  Rakefile
  metadata.json
Labels: modulesync

#305 Drop CentOS 6 support
  .sync.yml
  .travis.yml
  metadata.json
Labels: backwards-incompatible

#302 update puppet-strings documentation
  manifests/enterprise.pp
  manifests/enterprise/password/manage.pp
  manifests/enterprise/password/seed.pp
  manifests/forwarder.pp
  manifests/forwarder/password/manage.pp
  manifests/forwarder/password/seed.pp
Labels: docs

#303 add option to manage net-tools package
  REFERENCE.md
  manifests/enterprise/install/nix.pp
  manifests/forwarder/install.pp
  manifests/params.pp
  spec/classes/enterprise_spec.rb
Labels: enhancement

#307 Add Ubuntu 18.04/20.04 support
  metadata.json
Labels: enhancement

#306 Drop EOL Debian 8; Add Debian 9/10 support
  metadata.json
Labels: backwards-incompatible
