Repository voxpupuli/puppet-splunk, pull requests merged in 2021-08, with the labels that each got.

#313 Drop Puppet 5, add Puppet 7 support
  metadata.json
Labels: backwards-incompatible

#317 Release 9.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#314 Update from voxpupuli modulesync_config
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .overcommit.yml
  .pmtignore
  .rspec
  .rspec_parallel
  .rubocop.yml
  .yardopts
  Dockerfile
  Gemfile
  Rakefile
  spec/classes/enterprise_spec.rb
  spec/spec_helper.rb
Labels: modulesync
