Repository voxpupuli/puppet-splunk, pull requests merged in 2024-03, with the labels that each got.

#355 Drop Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#346 puppetlabs/stdlib: Allow 9.x
  metadata.json
Labels: enhancement

#347 Add Puppet 8 support
  metadata.json
Labels: enhancement

#340 enable the puppet-archive `allow_insecure` parameter
  REFERENCE.md
  manifests/forwarder.pp
  manifests/forwarder/install.pp
  manifests/params.pp
Labels: enhancement

#345 Allow inifile 6.x, concat 9.x, archive 7.x
  metadata.json
Labels: enhancement

#359 Add Rocky and AlmaLinux 8 and 9 support
  metadata.json
Labels: enhancement

#357 Add Ubuntu 22.04 support
  metadata.json
Labels: enhancement

#358 Add EL 8 and 9 support
  metadata.json
Labels: enhancement

#360 Use namespaced ensure_packages, require puppetlabs/stdlib 9.x
  manifests/enterprise/install/nix.pp
  manifests/forwarder/install.pp
  metadata.json
Labels: backwards-incompatible

#361 [ci skip] Fix CI badge
  README.md
Labels: skip-changelog

#339 Safer Splunk Enterprise version check
  lib/facter/splunk_version.rb
  spec/unit/facter/splunk_version_spec.rb
Labels: bug

#364 Miscellaneous README improvements
  README.md
Labels: docs

#365 Add workaround for Windows based Splunk UF 9.1.3 known issue
  manifests/params.pp
Labels: bug

#367 Updated README.md to make it clear that this module can download directly from the Splunk website
  README.md
Labels: docs
